
.app {
    margin: 1.%;
}

.btn {
    margin: .05%;
}

.btn-send {
    float: right;
}

.in-new-item {
    margin-left: .5%;
}
.item {
    width: 100%;
    margin: 1.25%;
    float: left;
}


.new-item {
    margin: 1.25%;
}
